<div class="uk-container uk-card uk-card-default uk-card-body">
  <h3 class="uk-card-title">Iniciar Sesión</h3>

  <form class="uk-form-stacked" method="post" action="/login">

    <div class="uk-margin">
      <label class="uk-form-label" for="form-stacked-text">Nombre de usuario</label>
      <div class="uk-form-controls">
        <div class="uk-inline">
          <span class="uk-form-icon" uk-icon="icon: user"></span>
          <input name="username" class="uk-input" type="text">
        </div>
      </div>
    </div>

    <div class="uk-margin">
      <label class="uk-form-label" for="form-stacked-text">Contraseña</label>
      <div class="uk-form-controls">
        <div class="uk-inline">
          <span class="uk-form-icon" uk-icon="icon: lock"></span>
          <input name="password" class="uk-input" type="password">
        </div>
      </div>
    </div>

    <div class="uk-margin">
      <button type="submit" class="uk-button uk-button-secondary">Iniciar Sesión</button>
    </div>

  </form>

</div>
