* {
  margin: 0;
  padding: 0;
  border: 0;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova.woff") format('woff');
  font-weight: bold;
}

html, body {
  background: #ecf0f1;
}

.main-navbar {
  background: #ecf0f1;
  padding-top: 22px;
}

.uk-logo {
  padding-left: 0;
}

.uk-logo img {
  width: 8em;
}

.uk-inline {
  display: block !important;
}

.uk-navbar-item {
  height: 30px;
}

.uk-alert-danger {
  color: #fef4f6;
  background: #f0506e;
  margin-bottom: 15px !important;
}

.uk-card-body {
  padding: 20px 20px;
}

.nabvar-btn {
  font-size: .97rem;
  font-weight: 500;
}

.no-rpadding {
  padding-right: 0;
}

.uk-article-title {
  font-size: 2rem;
  margin-bottom: 0px;
  color: #293A4B;
  font-family: "Proxima Nova";
}

.uk-article-meta {
  margin-top: 5px;
}

.article {
  margin-bottom: 20px;
}

.article p {
  font-family: "Proxima Nova";
}

p.body {
  font-size: 18px;
  line-height: 1.8;

}
