* {
  margin: 0;
  padding: 0;
  border: 0;
}

html, body {
  background: #f1f7f9;
}

.main-navbar {
  background: #fff;
  border-bottom: 2px solid #2C3E50;
}

.uk-logo {
  padding-left: 0;
}

.uk-logo img {
  width: 10em;
}

.uk-inline {
  display: block !important;
}

.uk-navbar-item {
  height: 70px;
}
