<div class="main-navbar">
  <nav class="uk-container" uk-navbar>

    <div class="uk-navbar-left">
      <a class="uk-navbar-item uk-logo" href="#">
        <img src="<%= url('images/logo.svg') %>" alt="logo">
      </a>
    </div>

    <div class="uk-navbar-right">
      <div class="uk-navbar-item">
          <a href="/login" class="uk-button uk-button-text nabvar-btn">Iniciar Sesión</a>
      </div>
      <div class="uk-navbar-item no-rpadding">
          <a href="/register" class="uk-button uk-button-text nabvar-btn">Registrarse</a>
      </div>
    </div>

  </nav>

</div>
